<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
</head>
<body>
    <h1>Lista de Productos</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Número de Vendedor</th>
                <th>ID de Comprador</th>
                <th>ID de Tipo de Producto</th>
                <th>Precio de Compra</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% productos.forEach(producto => { %>
                <tr>
                    <td><%= producto.numeroVendedor %></td>
                    <td><%= producto.idComprador %></td>
                    <td><%= producto.idTipoProducto %></td>
                    <td><%= producto.precioCompra %></td>
                    <td><button onclick="eliminar(<%= producto.idTipoProducto %>)">Eliminar</button></td>
                </tr>
            <% }) %>
        </tbody>
    </table>

    <script>
        function eliminar(id) {
            const x = confirm('¿Estás seguro de que deseas eliminar al comprador con ID: ' + id + '?');
            if (x) {
                fetch(`http://localhost:4000/TipoProducto/delete/${id}`, {
                    method: 'DELETE'
                })
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        throw new Error('Error al eliminar el Producto.');
                    }
                })
                .then(data => {
                    if (data.success) {
                        const row = document.querySelector(`button[onclick="eliminar(${id})"]`).parentNode.parentNode;
                        row.parentNode.removeChild(row);
                        alert('Producto eliminado.');
                    } else {
                        alert('Error al eliminar un Producto.');
                    }
                    location.reload(); // Recarga la página después de que se haya completado la operación de eliminación
                })
                .catch(error => {
                    console.error('Error:', error);
                    location.reload(); // Recarga la página si ocurre un error
                });
            }
        }
    </script>


<h1>Actualizar Producto</h1>

    
        
   
<form id="updateForm">
    <label for="id">ID:</label>
    <input type="text" id="id" name="id" required>
    <label for="nombre">Nueva Descripcion:</label>
    <input type="text" id="nombre" name="nombre" required>
    <input type="submit" value="Actualizar">
</form>

<script>
    document.getElementById('updateForm').addEventListener('submit', function(event) {
        event.preventDefault();
    
        var id = document.getElementById('id').value;
        var nombre = document.getElementById('nombre').value;
    
        var data = { "nombre": nombre };
        console.log(JSON.stringify(data)); // Imprime el JSON que se envía
        fetch('/TipoProducto/updateDescripcion/' + id, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);
            alert('Producto actualizado con éxito.');
            location.reload();
        })
        .catch((error) => {
          console.error('Error:', error);
          alert('Producto actualizado con éxito.');
          location.reload();
        });
    });
    </script>

<h1>Crear Producto</h1>
<form id="createForm">
    <label for="createId">ID:</label><br>
    <input type="number" id="createId" name="id" required><br>
    <label for="createNombre">Descripcion:</label><br>
    <input type="text" id="createNombre" name="nombre" required><br>
    <input type="submit" value="Crear Vendedor">
</form>

<script>
    document.getElementById('createForm').addEventListener('submit', function(event) {
        event.preventDefault();
    
        var id = parseInt(document.getElementById('createId').value);
        var nombre = document.getElementById('createNombre').value;
    
        var data = { "id": id, "nombre": nombre };
        console.log("Datos a enviar: ", JSON.stringify(data)); // Imprime el JSON que se envía
    
        fetch('/TipoProducto/create', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);
            alert('Producto creado con éxito.');
            location.reload();
        })
        .catch((error) => {
          console.error('Error:', error);
          alert('Producto creado con éxito.');
          location.reload();
        });
    });
    </script>
</body>
</html>
