<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
</head>
<body>
    <h1>Lista de Productos</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Número de Vendedor</th>
                <th>ID de Comprador</th>
                <th>ID de Tipo de Producto</th>
                <th>Precio de Compra</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% productos.forEach(producto => { %>
                <tr>
                    <td><%= producto.numeroVendedor %></td>
                    <td><%= producto.idComprador %></td>
                    <td><%= producto.idTipoProducto %></td>
                    <td><%= producto.precioCompra %></td>
                    <td><button onclick="eliminar(<%= producto.idTipoProducto %>)">Eliminar</button></td>
                </tr>
            <% }) %>
        </tbody>
    </table>

    <script>
        function eliminar(id) {
            const x = confirm('¿Estás seguro de que deseas eliminar al comprador con ID: ' + id + '?');
            if (x) {
                fetch(`http://localhost:4000/TipoProducto/delete/${id}`, {
                    method: 'DELETE'
                })
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        throw new Error('Error al eliminar el Producto.');
                    }
                })
                .then(data => {
                    if (data.success) {
                        const row = document.querySelector(`button[onclick="eliminar(${id})"]`).parentNode.parentNode;
                        row.parentNode.removeChild(row);
                        alert('Producto eliminado.');
                    } else {
                        alert('Error al eliminar un Producto.');
                    }
                    location.reload(); // Recarga la página después de que se haya completado la operación de eliminación
                })
                .catch(error => {
                    console.error('Error:', error);
                    location.reload(); // Recarga la página si ocurre un error
                });
            }
        }
    </script>


<h1>Crear Producto</h1>
<form id="updateForm">
    <label for="id">ID del Vendedor	:</label>
    <input type="text" id="idvendedor" name="ID del Vendedor" required>
    <label for="nombre">ID del Comprador:</label>
    <input type="text" id="idcomprador" name="ID del Comprador" required>
    <label for="nombre">ID del Producto:</label>
    <input type="text" id="Idproducto" name="ID del Producto" required>
    <label for="nombre">Precio de Compra:</label>
    <input type="text" id="precio" name="Precio" required>
    <input type="submit" value="Crear"> 
</form>


<script>
    document.getElementById('createForm').addEventListener('submit', function(event) {
        event.preventDefault();
    
        var id = document.getElementById('idvendedor').value;
        var id_comprador = document.getElementById('idcomprador').value;
        var id_produc = document.getElementById('Idproducto').value;
        var precio = document.getElementById('precio').value;
        //numeroVendedor,idComprador,idTipoProducto,precioCompra
        var data = { "numeroVendedor": id, "idComprador":id_comprador, "idTipoProducto":id_produc, "precioCompra":precio };
        console.log(JSON.stringify(data)); 
    
        fetch('/producto/create' + id + id_comprador + id_produc + precio ,{
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);
            alert('Producto creado con éxito.');
            location.reload();
        })
        .catch((error) => {
          console.error('Error:', error);
          alert('Producto creado con éxito.');
          location.reload();
        });
    });
    </script>
</body>
</html>
